.drawer {
  z-index: 30;
  pointer-events: none;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer .logo-btn {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  transform: none;
  margin-top: 1vh;
  margin-left: 3vh;
  transform: translateX(-200%);
}

.menu-btn {
  outline: none;
  border: none;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  width: 6vh;
  height: 6vh;
  background: #57cfff;
  border-radius: 20% 0 0 20%;
  transform: translateX(100%);
}

.menu-btn-burger {
  width: 60%;
  height: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
  transform-origin: center;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: top 0.2s ease-in 0.2s, transform 0.2s ease-in;
  transform-origin: center;
  transform: translate(-50%, -2.5px);
}

.menu-btn-burger::before {
  top: 30%;
}

.menu-btn-burger::after {
  top: 70%;
}

.menu-btn.open .menu-btn-burger {
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before,
.menu-btn.open .menu-btn-burger::after {
  top: 50%;
  transition: top 0.2s ease-in, transform 0.2s ease-out 0.2s;
}

.menu-btn.open .menu-btn-burger::before {
  transform: translate(-50%, -2.5px) rotate(135deg);
}

.menu-btn.open .menu-btn-burger::after {
  transform: translate(-50%, -2.5px) rotate(225deg);
}

.drawer-link-container {
  z-index: -1;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 30% 0;
  background: #57cfff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.drawer-link-container.open {
  transform: translateX(0);
}

.drawer-link-container li {
  width: 80%;
  height: 15%;
  list-style: none;
}

.drawer-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  pointer-events: all;
  font-family: "Nunito";
  font-size: 3rem;
  text-decoration: none;
  color: white;
}

@media (max-height: 650px) {
  .drawer-link {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .drawer {
    width: 80vw;
  }
}

@media (min-width: 831px) {
  .drawer {
    display: none;
  }
}
