.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

@media (min-width: 1200px) {
  .ReactModal__Content {
    width: 80%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  z-index: 10;
  position: absolute;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-left: 1rem;
}

.modal-header h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.project-info {
  display: flex;
  align-items: center;
}

.tag-container {
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
}

.project-tag {
  box-sizing: content-box;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  margin: 0;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.modal-btn-container {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  padding-top: 0;
}

.modal-btn {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  position: relative;
}

.modal-btn:first-of-type {
  margin-right: 3rem;
}

.modal-btn.unavailable {
  background: #e05858;
}

.modal-btn a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.modal-btn i {
  color: #5aa1f2;
  font-size: 20px;
}

.modal-btn.unavailable i {
  color: #b5b5b5;
}

.btn-caption {
  pointer-events: none;
  color: black;
  font-weight: 600;
  position: absolute;
  width: 200%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media (hover: hover) {
  .btn-caption {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-btn:hover .btn-caption {
    opacity: 1;
  }
}

@media (hover: none) {
  .btn-caption {
    bottom: 0;
    transform: translate(-50%, 100%);
    opacity: 1;
  }
}

@media (max-width: 420px) {
  .project-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-btn-container {
    order: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    padding-bottom: 2.5rem;
  }
  .tag-container {
    order: 1;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.modal-body a {
  color: blue;
}

.modal-body h4 {
  margin-bottom: 0;
  font-weight: 600;
}

.modal-body h5 {
  padding-left: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.modal-body-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body-description p {
  font-size: 18px;
  margin: 2rem 3rem;
}

.modal-body-description img {
  width: 500px;
}

.modal-body-description video {
  width: 700px;
}

@media (max-width: 700px) {
  .modal-body-description img {
    width: 100%;
  }

  .modal-body-description p {
    margin: 2rem 1rem;
  }
}

@media (max-width: 875px) {
  .modal-body-description video {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .ReactModal__Content {
    width: 100%;
  }
}
